/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common */
body {
  height: 100vh;
  width: 100%;
}

input {
  border: none;
  padding-left: 1.25rem;
}

span {
  font-size: .75rem;
  color: #b1b1b1;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-betweem {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-align {
  text-align: center;
}

/* CSS */
#app_background {
  height: 100vh;
  background: linear-gradient(to bottom, #009788 145px, #d5dbd0 145px);
}

#webapp {
  position: absolute;
  width: 70%;
  height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 1000px;
  margin: 0 auto;
}

#setting {
  width: calc(100% / 3);
}

#setting .setting-top,
#chat .top-chat {
  height: 70px;
  padding: 0.625rem 1.25rem;
  background-color: #eaeaea;
}

#setting .setting-main {
  flex-grow: 1;
  overflow: hidden;
}

#setting .setting-main > .notification {
  height: 80px;
  padding-left: 1.25rem;
  background-color: #8edafc;
}

#setting .setting-main > .search-chat {
  height: 3.125rem;
  background-color: #fafafa;
}

#setting .setting-main .search-chat > i {
  background-color: #fff;
  padding: 7px;
}

i.big {
  color: #d5f9ba;
}

#setting .setting-main > ul.list-chats {
  overflow-y: auto;
  flex-grow: 1;
}

#setting .setting-main > li.preview-chat {
  padding: 0.625rem 1.25rem;
  background-color: #fff;
  border: .3rem solid #fafafa;
}

#chat {
  flex-grow: 1;
  overflow: hidden;
}

img.photo-avatar {
  display: block;
  width: 3.125rem;
  object-fit: cover;
  border-radius: 3.125rem;
}

#setting .setting-main {
  background-color: #fafafa;
}

#setting .setting-top .box-avatar > h4,
#chat .top-chat .info-focus-chat {
  margin-left: 1.25rem;
}

#setting .setting-top .icons > i,
#chat .top-chat .icons > i {
  margin-left: 1.25rem;
  font-size: 1.5rem;
  color: #b1b1b1;
  text-align: center;
}

.notification {
  padding: 5px;
}

.notification > i {
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  color: #8edafc;
  background-color: #fff;
  line-height: 50px;
  border-radius: 50px;
  margin-right: 1.25rem;
}

.notification .text-notification > a {
  font-size: 0.75rem;
  color: #b1b1b1;
}

input.text-search {
  flex-grow: 1;
  margin-right: 10px;
  height: 1.875rem;
}

.search-chat {
  background-color: #fff;
}

.search-chat > i {
  margin-left: 10px;
  width: 3.75rem;
  text-align: center;
}

.box-avatars > img.photo-list-avatar {
  display: block;
  width: 3.75rem;
  object-fit: cover;
  border-radius: 3.125rem;
  margin-right: 1.25rem;
}

#chat .main-chat {
  flex-grow: 1;
  overflow-y: auto;
  background-image: url('../img/mine.jpg');
}

#chat .bottom-chat {
  height: 70px;
  background-color: #f5eee8;
}

.bottom-chat > input {
  flex-grow: 1;
  margin: 10px 0;
}

#chat .bottom-chat > i {
  width: 90px;
  font-size: 1.5rem;
  color: #b1b1b1;
  line-height: 70px;
  text-align: center;
}

.message-send,
.message-received {
  width: 60%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
}

.message-send {
  background-color: #d5f9ba;
  float: right;
  clear: both;
}

.message-received {
  background-color: #fff;
  float: left;
  clear: both;
}
